@font-face {
  font-family: 'MyFont';
  src: url('./holly_and_berries.ttf') format('ttf'),
    url('./BrightStarDafont.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url('./KCWMBadge.png');
  font-family: "MyFont";
}